<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' th:href="@{/css/flex-box-styles.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
</head>
<body>

<body>
<div class='menu-container'>
    <div class='menu'>
        <div class='date'>Aug 14, 2016</div>
        <div class='signup'>Sign Up</div>
        <div class='login'>Login</div>
    </div>
</div>

<div class='header-container'>
    <div class='header'>
        <div class='subscribe'>Subscribe &#9662;</div>
        <div class='logo'>
            <i class="fa fa-sass-alt fa-5x"></i>
        </div>
        <div class='social'>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-email-bulk fa-stack-1x"></i>
            </span>
        </div>
    </div>
</div>

<div class='photo-grid-container'>
    <div class='photo-grid'>
        <div class='photo-grid-item first-item'>
            <i class="fa fa-camera-retro fa-5x"></i>
        </div>
        <div class='photo-grid-item'>
            <i class="fa fa-puzzle-piece fa-5x"></i>
        </div>
        <div class='photo-grid-item'>
            <i class="fa fa-sketchfab fa-5x"></i>
        </div>
        <div class='photo-grid-item'>
            <i class="fa fa-battery-quarter fa-5x"></i>
        </div>
        <div class='photo-grid-item last-item'>
            <i class="fa fa-cog fa-spin fa-5x"></i>
        </div>

    </div>
</div>

<div class='footer'>
    <div class='footer-item footer-one'></div>
    <div class='footer-item footer-two'></div>
    <div class='footer-item footer-three'></div>
</div>


</body>

</body>


</html>