<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <title>Line Length</title>
    <link rel='stylesheet' th:href="@{/css/nlp.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <style>

    </style>

</head>
<body>

<header>
    <div class='hero'>
        <h1>Fields</h1>
        <p>
            <!--      tw blue: #07a7a4 tw orange: #ff7617-->
            <span class="publication-title">Publication Title</span>
            <span class="publication-description">Publication Description</span>
            <span class="publication-codes">Publication Codes</span>
        </p>
        <p>
            <span class="lot-title">Lot Title</span>
            <span class="lot-description">Lot Description</span>
            <span class="lot-codes">Lot Codes</span>
        </p>
        <h1>Strategies</h1>
        <p>
            <span class="strategy-overall">Overall</span>
            <span class="strategy-average">Average</span>
            <span class="strategy-cluster">Cluster</span>
            <span class="strategy-svc">SVC</span>
        </p>
        <h1>Niches</h1>
        <p>
            <span th:each="niche : ${nichesWithSize}" th:text="${niche}"></span>
        </p>

        <!--    <h1>Publication Title Publication Description Publication Code Lot Title Lot Description Lot Code</h1>-->
    </div>
</header>

<div class='page'>

    <ul class="field-container">
        <li th:each="niche : ${niches}">
            <h1 th:text="${niche}" class="niche-title"></h1>
            <div th:each="statistic : ${nicheStatistics.get(niche)}" class="items-right">
                <p th:text="${statistic}"></p>
            </div>
            <ul>
                <li th:each="log : ${logsPerNiche.get(niche)}" style="color: black;">
                    <span th:each="span : ${log.getSpans()}" th:text="${span.getText()}" th:class="${span.getClassName()}"></span>
                </li>
            </ul>
        </li>
    </ul>

</div>

</body>
</html>
